body {
  font-family: 'Lato', sans-serif;
  background-color: #ccc8c0;
  background-image: url(http://www.transparenttextures.com/patterns/sandpaper.png);
  a {
    text-decoration: none;
  }
  .nav-bar {
    background-color: pink;
  }
  .page-wrapper {
    padding: 0 2vw;
    &#home-page-wrapper {
      margin-top: -10vw;
    }
  }
  .image-container {
    &.overlay {
      width: 100%;
      height: 575px;
      margin-top: -24px;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  .logo {
    max-height: 275px;
    padding: 12px;
  }
  .text-center {
    text-align: center;
    h2 {
      margin-bottom: 0;
      margin-top: 20px;
    }
  }
  .image-wrapper {
    padding-right: 3vw;
    img {
      width: 100%;
    }
  }
  .hr-wrapper {
    margin: 2vw;
  }
  .brush {
    font-family: 'Dosis', sans-serif !important;
    background-position: 50% 50%;
    background-size: 100% 100%;
    border-radius: 5px;
    color: #ffffff;
    display: inline-block;
    font-size: 23px;
    font-weight: 700;
    margin: 0 auto;
    padding: 13px 74px;
    position: relative;
    text-align: center;
    text-decoration: none !important;
    text-transform: uppercase;
    transition: 0.4s;
    &.brush-text {
      h2 {
        color: white;
        font-family: 'Permanent Marker', cursive !important;
      }
    }
  }
  .marker-text {
    color: white;
    font-family: 'Permanent Marker', cursive;
    p {
      margin: -20px;
    }
  }
}